:root {
  --btn-gap: 4px;
  --btn-height: 45px;
  --btn-pad-block: 4px;
  --btn-pad-inline: 16px;
  --btn-font-size: 16px;
  --btn-icon-size: 16px;
  --btn-icon-only-size: 45px;

  --btn-badge-size: 16px;
  --btn-badge-font-size: 8px;

  --btn-sm-gap: 4px;
  --btn-sm-height: 22px;
  --btn-sm-pad-block: 4px;
  --btn-sm-pad-inline: 8px;
  --btn-sm-font-size: 10px;
  --btn-sm-icon-size: 10px;
  --btn-sm-icon-only-size: 22px;

  --btn-sm-badge-size: 16px;
  --btn-sm-badge-font-size: 8px;

  --btn-lg-gap: 8px;
  --btn-lg-height: 60px;
  --btn-lg-pad-block: 8px;
  --btn-lg-icon-size: 20px;
  --btn-lg-font-size: 18px;
  --btn-lg-pad-inline: 32px;
  --btn-lg-icon-only-size: 60px;

  --btn-lg-badge-size: 24px;
  --btn-lg-badge-font-size: 12px;
}
