:root {
  --input-height: 45px;
  --input-pad-block: 8px;
  --input-icon-size: 20px;
  --input-pad-inline: 16px;

  --input-sm-height: 22px;
  --input-sm-pad-block: 4px;
  --input-sm-font-size: 10px;
  --input-sm-icon-size: 10px;
  --input-sm-pad-inline: 8px;

  --input-lg-height: 60px;
  --input-lg-pad-block: 16px;
  --input-lg-font-size: 18px;
  --input-lg-icon-size: 20px;
  --input-lg-pad-inline: 16px;
}
