@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/400.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/600.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/fonts/700.ttf");
  font-style: normal;
  font-weight: 700;
}
