.p-datepicker {
  padding: 24px;
  min-width: auto !important;
  width: 367px !important;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);

  .p-datepicker-header {
    margin-bottom: 24px;
    color: var(--header-text-color);

    .p-datepicker-title {
      display: flex;
      gap: 10px;
      font-weight: 700;
    }
  }

  .p-datepicker-calendar-container {
    thead {
      font-size: 18px;
      font-weight: 700;

      th {
        padding-bottom: 16px;
      }
    }

    tbody {
      td {
        &.p-datepicker-other-month {
          color: var(--border-hover-color);
        }

        &.p-datepicker-today {
          font-weight: 700;
          color: var(--header-text-color);
        }

        & > span {
          padding: 8px 0;

          &.p-highlight {
            background-color: #effaff;
            border-radius: 3px;
          }
        }
      }
    }
  }

  .p-yearpicker,
  .p-monthpicker {
    span {
      margin-bottom: 24px;

      &.p-highlight {
        color: var(--primary-color);
        font-weight: 700;
      }

      &.p-disabled {
        color: var(--border-hover-color);
      }
    }
  }
}
