::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background-color: #5da3dd;
  border: 6px solid #ffffff;
  border-radius: 14px;
}
